@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme(
  "default",
  (
    primary: $primary,
    secondary: $secondary,
    accent: $warning,
    theme: dark // The primary color of your application,,,,,,,,,,,,,,,,,,
  )
);

@import "~vue-material/dist/theme/all"; // Apply the theme
