:root,
html {
  font-family: $base-font-family;
  // 12px is our base font-size
  font-size: $rootsize-base * 1px;
  font-weight: $weight-normal;
  font-display: swap;

  @include grid-media($grid--desktop-lg-up) {
    // 14px is our base font-size
    font-size: $rootsize-lg * 1px;
    color: red !important;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
