@mixin grid-media($media) {
  @media #{$media} {
    @content;
  }
}

@mixin page() {
  padding: $base-spacing * 2;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
